
.App-header {
  background-color: #222;
  height: 70%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 70px;
  text-align: center;
}

.three-sections{
  background-color: #ddfaff;
}

.sections{
  left: 15px;
  position: absolute;
  width: 100vw;
  padding-top: 10px;
}

.col-sm {
  box-shadow: 5px 10px 18px #888888;
}

.col1{
  background-color: #ddfaff;
  margin-left: 10px;
}

.col2{
  background-color: #f79125;
  margin-left: 10px;
  margin-right: 10px;
}

.col3{
  background-color: #a325f7;
  margin-right:10px;
}

.card {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
}

.orders{
  align-content: center;
}

.container {
  padding-bottom: 12px;
}
