
.center{
   width:100%;
   text-align: center;
}
.margin-2{
    margin: 5px !important;
}
.half-width{
    display: block;
    width:40% !important;
}
.left{
    text-align:left;
}
.top_margin{
    margin-top: 20px;
}
.signUp_bt{
    margin-bottom: 5px;
}
.right{    
    text-align:right;
}
